
.contactRow{
    display:flex;
    margin-bottom:2em;
}

.contactIcon{
    flex:1;
}

.contactText{
    flex:5;
    margin:auto 1em;

}
@media only screen and (min-width: 1025px) {
    .contactText{
        flex:10;
    }
}