.contactBox{
    box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.2);
    text-align: start;
    padding:1.5em;
}
.contactBox h1{
    font-size:4em;
    font-weight: bolder;
}
.contactBox b{
    font-weight: bolder;
    font-size: 1.1em;
    margin-right: 0.25em;
}