@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Playfair+Display|Roboto&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-feature-settings: "liga" 0, "clig" 0;
     -moz-font-feature-settings: "liga" 0, "clig" 0;
          font-feature-settings: "liga" 0, "clig" 0;
  line-height: 1.4;
  background-color: #f6f6f6;
}
.myContainer{
  padding: 3vh 8vw;
  padding-bottom: 10vh;
  line-height: 2.5em;
}
.myContainer h1{
  font-size: 3em;
  margin: 0.75em 0;
  font-family: 'Hind Siliguri', sans-serif;

}
.myContainer p{
  font-size: 1.3em;
  font-family: 'Hind Siliguri', sans-serif;
}
.welcome-container{
  height:100vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/background.gif');
  background-size: cover;
  display : flex;
  align-items : center;
  justify-content: center;
}
.welcome-container h1{
  color:white;
  font-size: 3em;
}


.box-row{
  grid-auto-rows: 1fr  
}
.box{
  margin-bottom: 2em;
  background-color: #fff;
}


.box img{
  padding:1.5em;
  padding-bottom:0;

  width:100%;
  margin:0;
  max-height: 80vh;
}
.box-text{
  margin:-1em 0;
  padding:1.5em;
  padding-bottom: 3em;
}
.box-text h1{
  font-size: 2em;
  font-weight: bolder;
  margin-bottom:0.5em 0;
}
.box-text p{
  font-size: 1.3em;
  line-height: 1.8em;
}

.linky {
  text-decoration: none;
  color: black;
}
.linky:hover{
  text-decoration: none;
  color: black;
}

.profileContainer{
}
.profileCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.profileCard h1{
  margin:0;
  font-size:2.5em;

}
.profileCardBody{
  background-color: "#fff";
  padding:1em 0;
  height:65%
}
.profileCard img{
  width:100%;
  height:30%
}
.profileCard p{
  margin-bottom:0;
  margin: 0 1em;
}
.profileIcons{
  padding-top:0.5em
}
.profileIcons a{
  color:inherit
}
.profileIcons a:hover{
  color:inherit
}
.profileIcons a:visited{
  color:inherit
}
.contactInfo{
  background-color:#f6f6f6;
  padding:0.5em 0;
  height:45%;
  width:100%;
  margin-bottom: 1em;
}
.profileIcons svg{
  margin-right: 0.5em;
}


.profileAboutCard{
  

}
.aboutHeader{
  width:100%;
  height:30%;
  background-color: #fff;
  text-align:start
}
.aboutHeader h1{
  margin:0;
  font-size:2em;
  font-weight: bolder;

}
.aboutUnderline{
  padding-bottom: 0.75em;
  width:8vw;
  border-bottom: #7b82de solid 4px;
  margin-bottom: 1em;
}
.aboutBody{
  width:100%;
  height:70%;
  text-align:start
}
.aboutBody h1{
  margin:0;
  font-size:1.75em;
  font-weight: bolder;
}
.aboutBodyGrid{
  margin-top:1.5em;
  
}
.aboutBodyBox{
  background-color: #f6f6f6;
  padding:1em;
  margin-top:1em;
}
.aboutBodyBoxHead{
  display:flex;
}
.aboutBodyBoxHead svg{
  height:100%
}
.aboutBodyBoxText {
  padding-left:1em
}
.aboutBodyBoxText h4{
  font-weight:bolder
}

.aboutBodyBoxText p{
  font-size:1.2em;
  line-height: 1.5em;
}
.line{
  display:flex;
  justify-content: center;
  margin-top: 1em;
}
.line p {
  margin-left:1em;
  width:60%;
  text-align:left
}
.btnPair a{
  margin-right:1em;

}

.tags a{
  margin-right:1em;
  margin-bottom: 0.5em;



}

@media only screen and (min-width: 768px) {
  .box{
    margin-right: 1vw;
  }
  .welcome-container h1{
    font-size: 4em;
  }
  .profileCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width:50%;
    margin:auto;
  }
  

}
@media only screen and (min-width: 1025px) {
  .welcome-container h1{
    font-size: 8em;
  }
  .box-row{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:2vw
  }
  .box{
    margin:0
  }
  .box:hover{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s;
  }
  .box h1{
    font-size: 2em;
  
  }
  .box img{
    padding:1em;
    padding-bottom:0;

    width:100%;
  }
  .box-text{
    margin:0;
    padding:1em;
  }
  .box-text h1{
    font-size: 2em;
    margin:0.2em 0;
  
  }
  .profileContainer{
    display:flex;
  }
  .profileCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 19vw;
    text-align: center;
    padding:0em

  }
  .profileAboutCard{
    box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex:1;
    margin-left:3vw;
    margin-top:0;
  
  }
  .aboutBodyGrid{
    margin-top:1.5em;
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:2vw  
  }
  .aboutBodyBox{
    background-color: white;
    padding:1em;
    margin-top:0em;
  }
  .aboutUnderline{
    padding-bottom: 0.75em;
    width:3vw;
    border-bottom: #7b82de solid 4px;
    margin-bottom: 1em;
  }
  .aboutBody{
    background-color:#f6f6f6;
    width:100%;
    height:70%;
    padding:1.5em;
    text-align:start
  }
  .profileCard img{
    width:100%;
    height:30%
  }
  .profileCard{
    margin:0;
  }
  .aboutHeader{
    padding:1.5em;
  }
  


  

}
